<footer class="bg-dark text-white">
    <div class="container"><br>
        <div class="row ">

            <div class="col-md-4 ml-auto">
                <h5 class="font-weight-bold">Contactenos</h5><br>
                <p>Línea de atención: (+57) 300 912 5879</p>
                <p>Correo electronico: invirtual@gmail.com</p>
                <p>Dirección: Calle 50 # 30 - 84</p>
                <p>Barranquilla - Colombia</p>
            </div>

            <div class="col-md-4 text-center">
                <h5 class="font-weight-bold">Siguenos</h5><br>
                <p>
                    <a id="LogoFacebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//inteacher.co/"
                        target="_blank">
                        <img src="assets/logoFacebook.svg"
                            alt="Logo de Facebook que nos envia al enlace de Virtual HUB Fair en red social facebook"
                            title="Logo de facebook de Virtual HUB Fair" width="30">
                    </a>&nbsp;
                    <a id="LogoTwitter" href="https://twitter.com/intent/tweet?text=https%3A//inteacher.co/"
                        target="_blank">
                        <img src="assets/logoTwitter.svg"
                            alt="Logo de Twitter que nos envia al enlace de Virtual HUB Fair en red social Twitter"
                            title="Logo de twitter de Virtual HUB Fair" width="30">
                    </a>&nbsp;
                    <a id="LogoLinkedin"
                        href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//inteacher.co/&title=Inteachersummary=Refuerzo%20Estudiantiles%20Virtuales%0ALos%20mejores%20profesores%20y%20profesionales%20a%20tu%20disposici%C3%B3n%20en%20el%20horario%20de%20tu%20preferencia&source="
                        target="_blank">
                        <img src="assets/logoLinkedin.svg"
                            alt="Logo de LinkeDin que nos envia al enlace de Virtual HUB Fair en red social LinkeDin"
                            title="Logo de LinkeDin de Virtual HUB Fair" width="30">
                    </a>
                </p>

                <a class="navbar-brand">
                    <img class="mt-2" src="assets/logoFeria.png" alt="Logo de la feria virtual HUB Fair" width="180px">
                </a>
            </div>

            <div class="col-md-4">
                <h5 class="font-weight-bold">¿Quienes Somos?</h5><br>
                <p>Familia de profesionales xxxxxx xxxx xxxxx xxxxxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxx xxxxxxxxx xxxxx
                    xxxx xxxx .</p>
            </div>
        </div>

        <!--div class="row pt-2 mt-2 text-center">
            <div class="col-md-12">
                <p>Copyright &copy;2021 Todos los derechos reservados | Esta plataforma es desarrollada por <a
                        href="inicio" target="_blank">Virtual HUB Fair</a></p>
            </div>
        </!--div-->
    </div>
</footer>