<!--header class="header">
    <div-- class="bg-primari">
        <div class="container">
            <nav class=" navbar-expand-md navbar-light">
                    <br>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrincipal"
                        aria-controls="navbarPrincipal" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarPrincipal">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <button type="button" class="btn btn-outline-light rounded-pill">Registrate</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <button type="button" class="btn btn-light">Iniciar sesión</button>
                                    <p class="font-weight-bold"><span style="color: #ffffff;">¡Registrate!</span></p>
                                </a>
                            </li>
                        </ul>
                    </div>
            </nav>
        </div>
    </div-->
<app-navbar></app-navbar>
<div class="text-header d-flex">
    <div class="container content-center">
        <div class="row">
            <div class="img-stand col-lg-6">
                <img src="assets/standimagen.png"
                    alt="Previsualización del stand o temas que se va a realizar en la feria virtual"
                    title="Stand de feria virtual - Virtual HUB Fair" width="80%">
            </div>
            <div class="col-lg-6 mt-5"><br>
                <h2>Virtual<span> HUB Fair</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati architecto ducimus inventore,
                    veniam modi beatae! Earum, sequi consectetur? Asperiores porro amet soluta eos consequatur quod
                    dolorem nisi, corrupti incidunt ab!</p>
            </div>
        </div>
    </div>
</div>