.header {
    width: 100%;
    min-height: 10vh;
    background-color: #3189d4;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.bg-primari{
    background-color: #3189d4;
    position:fixed;
    z-index: 20;
    width: 100%;
}

.navbar-toggler {
    color: navbar-light-color;
    border-color: navbar-light-toggler-border-color;
  }
  

@media (min-width: 768px){
    .bg-primari{
        background-color: transparent!important;
    }
}