<br>
<div>
  <div id="stand">
    <iframe id="pantalla" height="250" width="540" src="https://walter-stand.glitch.me/"></iframe>
  </div><br>

  <div>
    <img style="float: left;" height="180px" width="180px" src="assets/StandPeninsula.jpg" (click)="boton(1)" />
  </div>

  <div>
    <img style="float: left;" height="180px" width="180px" src="assets/StandRobot.jpg" (click)="boton(2)" />
  </div>

  <div>
    <img style="float: left;" height="180px" width="180px" src="assets/StandPeninsula.jpg" (click)="boton(3)" />
  </div>
</div>


<!--caja sola-->
<!--https://caja-sola.glitch.me/-->

<!--Caja Esfera-->
<!--https://caja-esfera.glitch.me/-->

<!--Esfera Sola-->
<!--https://esfera-sola.glitch.me/-->