

<div class="cuadro-login">
    <div class="container">
        <a id="inicio" href="inicio">
            <img class="mt-2" src="assets/logoFeria.png" alt="Logo de la feria virtual HUB Fair" width="140px">
        </a>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-12 mt-5">
            <h4 class="text-center">!Elige tu perfil para comenzar con tu registro y ser parte de Virtual HUB Fair!</h4>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4 mt-5">
            <div class="card bg-white shadow-lg mx-auto d-block" style="width: 18rem; height: 25em;">
                <a id="perfil-registro-vendedor" href="perfil-registro-vendedor">
                    <figure>
                        <img src="assets/vendedor.png" alt="Imagen del enlace sobre el vendedor">
                        <div class="capa">
                            <h3>Perfil del vendedor</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                        </div>
                    </figure>
                </a>
                <div class="card-body">
                    <h5 class="text-center text-primary font-weight-bold">Vendedor</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-5">
            <div class="card bg-white mb-3 shadow-lg mx-auto d-block" style="width: 18rem; height: 25em;">
                <a id="perfil-registro-comprador" href="perfil-registro-comprador">
                    <figure>
                        <img src="assets/comprador.png" alt="Imagen del enlace sobre el comprador">
                        <div class="capa">
                            <h3>Perfil del comprador</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                        </div>
                    </figure>
                </a>
                <div class="card-body">
                    <h5 class="text-center text-primary font-weight-bold">Comprador</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-5">
            <div class="card bg-white shadow-lg mx-auto d-block" style="width: 18rem; height: 25em;">
                <a id="perfil-registro-visitante" href="perfil-registro-visitante">
                    <figure>
                        <img src="assets/visitante.png" alt="Imagen del enlace sobre el visitante">
                        <div class="capa">
                            <h3>Perfil de visitantes</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                        </div>
                    </figure>
                </a>
                <div class="card-body">
                    <h5 class="text-center text-primary font-weight-bold">Visitantes</h5>
                </div>
            </div>
        </div>
    </div>
</div><br>
<!--div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="card bg-white shadow-lg" style="width: 18rem;"><br>
            <a href="inicio">
                <img height="200px" class="mx-auto d-block" src="assets/vendedor.png" alt="Card image cap"> 
            </a>
            <div class="card-body">
                <h5 class="card-title">Vendedor</h5>
            </div>
        </div>
    </div>
</div-->